<!DOCTYPE html>
<html lang="es">
<head> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>{% block title %}Base{% endblock %}</title>
</head>
<body class="d-flex flex-column" style="min-height: 100vh !important;">
  <nav class="navbar navbar-expand-lg navbar-light mb-0" style="padding: 0% 15%;">
    <a class="navbar-brand" href="/" id="home"><img class="logo" src="{{url_for('static', filename='Recursos/Logo.png')}}" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="my-text nav-link" href="/carrito" id="carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
        </li>
        <li class="nav-item">
          <a class="my-text nav-link" href="/login" id="sign_up"><i class="fa-solid fa-user"></i> Cuenta</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle my-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu my-text" aria-labelledby="navbarDropdown" style="background-color: var(--green-main);">
            <a class="dropdown-item my-text" href="#">Placeholder</a>
            <a class="dropdown-item my-text" href="#">Placeholder</a>
            <a class="dropdown-item my-text" href="#">Placeholder</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search">
        <button class="btn btn-success bg-green my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% else %}
          <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block body %} {% endblock %}

  <footer class="bg-green-footer mt-auto">
    <div class="container pt-3 pb-2">
      <nav class="row">
        <ul class="col list-unstyled justify-content-center ">
          <li>
            <strong>
              Contacto
            </strong>
          </li>
          <li>
            Correo: soporte@litu.co
          </li>
          <li>
            WhatsApp: +57 301 123 4567
          </li>
          <li>
            Telefono: (01) 765 4321
          </li>
          <li>
            Direccion: Av. Cra. 7 #40b-53 (Ofcina)
          </li>
        </ul>
        <ul class="col list-unstyled mt-3">
          <li class="d-flex justify-content-between align-middle">
            <i class="fa-brands fa-facebook fa-3x"></i>
            <i class="fa-brands fa-instagram fa-3x"></i>
            <a href="https://github.com/Meh8132/libreria" style="color: white;">
              <i class="fa-brands fa-github fa-3x"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  {% block scripts %} {% endblock %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>