{% extends "base.html" %}
{% block title %}Cuenta{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="mb-3">Informacion</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre</li>
                <li class="list-group-item">Lo otro</li>
            </ul>
        </div>
        <div class="col-sm-8">
            <h4 class="mb-3">Historial de compras</h4>
            <ul id="hist" class="list-group mb-auto">
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
                <li class="list-group-item">Compra</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}